.search_box_frame{
    display: inline;
    position: relative;
}

.search_box_frame .close{
    position:absolute;
    width: 20px;
    top: 6px;
    right:5px;
    color: rgb(8, 124, 139);
}

.search_form__inner{
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-radius: 0;
}

.inputWithButton {
    position: relative;
    height: 100px;
    width : 200px;
}

.inputWithButton input{
    width: 70%;
    height: 25px;
    padding-right: 60px;
}

.inputWithButton button {
    position: absolute;
    right: 0;
    top : 5px;
}