
html, body, #root, #root>div {
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
    background: #40babd  no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    overflow-x:hidden;
}

::-webkit-scrollbar{
    width: 0;
}

::-webkit-scrollbar-thumb{
    background: #298d90;
}

::-webkit-scrollbar-thumb:hover{
    background: #206d6f;
}

section{
    margin-bottom: 30px;
}

table tr td.td2:last-child {
    word-break: break-word;
}

.react_loading{
    margin:auto;
}

/*Навігація по складу */
/*Навігація по складу */
/*Навігація по складу */

.header{
    text-align: center;
    overflow:hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.search{
    padding-top: 100px;

}

.title{
    display: none;
}

.menu{
    font-size: 24px;
    margin-bottom: 30px;
    padding: 0;
}

.menu_inner{
    position: relative;
    list-style: none;
    text-align: center;
    background-color: #206d6f;
    transition: .24s;
    padding: 0;

}

.menu_inner:hover{
    background: rgb(8, 124, 139);
}

.menu_inner a{
    text-decoration: none;
    color:white;
    display: block;
    width:100%;
    padding: 7px 30px;
}

.menu_inner i:hover{
    color: #298d90;
    transition: .24s linear;
}

.menu_inner.menu_inner__active li:last-child{
    position: absolute  ;
    right: 0;
    top: 3px;
}
.menu_inner.menu_inner__active{
    background-color: #40babd;
    position: relative;

}



/*Пошук по запиту*/
/*Пошук по запиту*/
/*Пошук по запиту*/



.search_but .search_but__exel{
    margin-bottom: 20px;
}


.search_but{
    height: 50px;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color:white;
    background: #298d90;
    border: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 20px;
    transition: .24s linear;
}

.dandruff {
    border-radius: 0;
    height: 42px;
    text-align: center;
}


.search_but:active,
.search_but:focus,
.search_but{
    outline: none;
    border: none;
}
.search_but:hover {
    background: rgb(8, 124, 139);
    color:white;
}

.search_form__inner{
    padding-left: 40px;
    width: 300px;
    height: 42px;
    font-size: 16px;
    transition: .2s linear;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 10px solid rgb(255, 255, 255);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAABmJLR0QA/wD/AP+gvaeTAAACYklEQVRIib3VTUhUURjG8f97rhc/UArDKNB0IaiT1SLBaqeubBUE7ly0CJFyMGeM2tTUpkKd0UkMImoRtJAIamObhFZJJlE5KCIlOEIUiBlU08y9bws1yGrujFrP7nAe+B0OvOfAf4ik3R0etnzx+BHU+BS2CyyJSiy2Z/czWlqcTSGl4XB+kWt1qGhAYF7hhcDSKlSnUCZC79flbdfnQie+ZY3U9vWVOWo9wvBW1Tk/HQjMrO9U9fdXGYcrQLmFc2wyEJjPGKkeHNwhidQYytBUsDPidcLqvkiXIO1G3PpYV9fi33rmFzGRuiXC/UwAgOnAmTDoA1VzM13vJ1IdiRwGDsjy0sVMgLUkbeuCwkFfT3+9JyKuaRVkKBYKfc8GmfX7E6jcUCOt3gjaoC6PswHWosYZAW30RBRKTUHO3EYQKzf3HVDmiWwmCccxgHoiAnH3S6piI4iVcCuAuCeiyiiWNm8EMYZmlKeeCGLuorRXRqO52QAVoTt5oO0GbnsiUwH/GMJLO+leygbJL/x0WcWMx4Kd457IysI9CRyvDvcHMgF8fQNBhKDlStoB/u2BrLwWLbVz3Ieg847mnJsJdkyv79RGIjUpV64KHAVygJjtJhtfd3d/yAiBlXsuKFo+rWgQWAAmgEWgGKgDdgEDFs49B2sE2JsO8vy0qhYWDokrPoFihM+u6KvCgoLnE21tSYD9PT07k8YeXYUmbTfZtB5Kj2SYymi0xE7qE9B9AtPi2A2xs6febyniBW0Zkg7akrdrLbN+/8ekLU0gbxTyXKNZDXZWqYxGS2p6B8v/GfCn/AAcWfTsjM7hYwAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: left;
}

.search_box{
    display: flex;
    justify-content: center;
    margin: 20px auto
}

#addGoods{
    text-align: center;
}


input[type=text]:focus.search_form__inner {
    width: 450px;
    outline: none;
    border: none;
}

/*TABLE TABLE TABLE*/
/*TABLE TABLE TABLE*/
/*TABLE TABLE TABLE*/
.frame{
    padding-bottom: 30px;
}


.frame__box{
    display: flex;
    justify-content: center;
}

table{
    text-align: center;
    margin: auto;
}

td, th{
    padding: 10px 26px;
    border: 2px solid rgb(8, 124, 139);
}

.date_th{
    padding: 10px 25px;
    border: 2px solid rgb(8, 124, 139);
    min-width: 160px;
}

.price_th{
    min-width: 120px;
}

 .table_head{
    background-color: #298d90;
    color:white
}

.table_body{
    border: 2px solid #298d90;
    background-color: white;
    color:black
}

.table_body:hover{
  background-color: #349ea3;
  transition: .2s linear;
  color:white;

}

.table_but{
    display: inline;
    text-decoration: none;
    color:black;
    transition: .2s linear;
}

.table_but:hover{
    color: rgb(8, 124, 139)
}

.update_button{
    box-sizing: border-box;
    color:white;
    background: #298d90;
    border: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 5px;
    transition: .24s linear;
}

.update_button:hover {
    background: rgb(8, 124, 139);
    color: white;
}

.add_button{
    margin-right: 30px;
    box-sizing: border-box;
    color:white;
    background: #298d90;
    border: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 5px;
    transition: .24s linear;
}

.add_button:hover {
    background: rgb(8, 124, 139);
    color: white;
}

.cancel_button{

    box-sizing: border-box;
    color:white;
    background: #298d90;
    border: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 5px;
    transition: .24s linear;
}

.cancel_button:hover {
    background: rgb(239, 10, 10);
    color: white;
}

.error_form{
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: -1px 1px red, 0 1px red, 1px 0 red, 0 -1px red;
    margin-bottom: 0;

}

.selected_button_text{
    color: white;
    margin-right: 200px;
    margin-left: 216px;
}

.button_text{
    color: white;


}

.selected_menu_inner{
    list-style: none;
    text-align: center;
    background-color: #40babd;
    transition: .24s;
    padding: 7px 30px;
}

.current_page{
    display: block;
}

.current_page_mobile{
    display: none;
    color:#206d6f ;

}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: white;
    text-decoration: none;
}

.errors_div{
    min-width: 100%;
}

.search_box_frame{
    display: inline;
    position: relative;
}


.search_box_frame .close{
    position:absolute;
    width: 20px;
    top: 6px;
    right:5px;
    color: rgb(8, 124, 139);
}

.header__burger{
    display: none;
}


@media  (max-width: 992px  ) {

    .current_page{
        display: none;
    }

    .current_page_mobile{
        display: block;
    }


    .title{
        text-align: center;
        position: absolute;
        display: block;
        width: 100%;
        color:white;
        font-size: 25px;
        z-index: 10;
    }

    .header{
        position: fixed;
    }

    .header__burger{
        display: block;
        position: relative;
        width: 50px;
        height: 30px;
        z-index: 10;
        margin-right: auto;


    }
    .header__burger span{
        position: absolute;
        background-color: #fff;
        width:100%;
        height: 3px;
        left: 10px;
        transition: all 0.24s ease 0s;
        top: 14px;
    }

    .header__burger::after,
    .header__burger::before{
        content:'';
        position: absolute;
        width: 100%;
        height: 3px;
        left:10px;
        transition: all 0.24s ease 0s;
        background-color: white;
    }

    .header__burger::before{
        top:0;
    }

    .header__burger::after{
        bottom: 0;
    }


    .header_wrapburg{
        position: relative;
        z-index: 10;
        padding: 10px 0 13px 0;
        width: 100%;
        height: 100%;
        background-color: #206d6f;
    }
    /*#145354*/
    .header__menu{
        background-color: #206d6f;
        position: fixed;
        top: -100%;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 25vh;
        margin: 0 auto;
        z-index: 5;
        transition: all 0.24s ease 0s;
    }

    .header__menu.show{
        top:50px;
    }

    .header__burger.crist span{
        width: 90%;
        transform: scale(0);
    }

    .header__burger.crist::after{
        transform: rotate(45deg);
        bottom: 13.5px;
        width: 90%;
    }

    .header__burger.crist::before{
        transform: rotate(-45deg);
        top: 13.5px;
        width: 90%;
    }

    .menu_inner.menu_inner__active{
        background-color: #206d6f;
    }

    .menu{
        padding: 0;
        font-size: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

    }

    .menu_inner{
        width: 100%;
        height: 90px;
        margin: 0;
        color: white;
    }



    .menu_inner li a{
        margin-top: 18px;
        display: block;
        width: 100%;
        height: 100%;
    }

    .menu_inner a{
        margin-top: 12px;

    }

    .menu_inner:hover{
        background-color: #298d90;
    }



    .search_box{
        display: block;
    }



    .search_form__inner{
        position: relative;
        width: 100%;
        margin: 0 auto;
        border-radius: 0;
    }


    input[type=text]:focus.search_form__inner {
        width: 100%;
        outline: none;
        border: none;
    }

    .search_but{
        width: 100%;
        display: block;
        margin: 10px auto;

    }

    .search_button{
        width: 100%;
        display: block;

    }

    .frame__box{
        /*overflow: auto;*/
        /*position: relative;*/
    }

    .frame__box table{
        margin: 0 auto;
        display: inline-block;
        vertical-align: top;
        horiz-align: center;
        max-width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    td, th{
        padding: 5px 13px;
        font-size: 16px;
    }

    .menu_inner.menu_inner__active li:last-child{
        display: none;
    }

    .search_box_frame .close{
        top: -1px;
    }


}

